.verifyInvoiceOuter {
  .nav-tabs {
    margin-bottom: 20px;
    font-weight: 500;
  }
  .additionalNoteArea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  }
  .invButtonsWrap {
    padding: 20px 0;
  }
  .nav-tabs {
    border-width: 1px !important;
    .active {
      border-bottom: none;
    }
  }
  .form-group {
    position: relative;
  }

  .invDisplayRightBlock {
    .form-group {
      height: 15px;
    }
    .form-control {
      height: 30px;
      font-size: 12px;
      display: inline-block;
      max-width: 200px;
    }
    .errorMsg {
      right: 0 !important;
      left: auto;
    }
    .customCkBox {
      display: inline-block;
      padding: 0 33px 0 0;
      top: -6px;
    }
    .errorDeclared {
      color: #b43757 !important;
      .companyNameRblock {
        color: #b43757 !important;
      }
      .form-control {
        border: none;
      }
      input {
        color: #b43757 !important;
        text-align: right;
        padding: 0;
      }
    }
    .invRightBlockCon {
      padding: 0 10px;
      ul {
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
  }
  .invButtonsWrap {
    .btn-toolbar .btn {
      float: none !important;
    }
  }
  // END RIGHT PANEL
  .dateEditInv .react-date-picker {
    max-width: 200px;
    width: 200px;
    height: 30px;
    font-size: 12px;
    float: right;
    .react-date-picker__calendar {
      left: -85px;
    }
  }

  .dollerInput {
    padding-left: 30px !important;
  }
  // .unitPrice {
  //   max-width: 80px;
  // }
  textarea {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    max-height: 100px;
    resize: none;
  }

  .glAccountWrap {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 34px;
    width: 280px;
    margin-bottom: 14px;

    .textWrap,
    .glAccountInner {
      display: none;
      background-image: url(../../../../../assets/select-arrow-1.png);
      background-position: 98% 10px;
      background-repeat: no-repeat;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      button {
        font-size: 12px;
      }
    }

    .textWrap {
      display: block;
    }
    .form-inline {
      margin-bottom: 10px;
    }
    .searchMain {
      height: 30px;
      width: 60% !important;
    }
    .searchBtn {
      padding: 4px 12px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .accountListItem {
      margin-bottom: 20px;

      ul {
        max-height: 150px;
        overflow-y: scroll;
        margin: 5px 0 0;
        padding: 0;
      }
      li {
        list-style: none;
        padding: 2px 4px;
      }
      li:hover {
        background: #1e90ff;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .glAccountWrap:hover {
    z-index: 2;
    .textWrap {
      display: none;
    }
    .glAccountInner {
      display: block;
    }
  }

  .accountFieldTab {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 34px;
    margin-bottom: 14px;

    button {
      font-size: 12px;
    }

    .textWrap,
    .accountFieldTabInner {
      display: none;
      background-image: url(../../../../../assets/select-arrow-1.png);
      background-position: 98% 10px;
      background-repeat: no-repeat;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    }
    .searchBtn {
      padding: 4px 12px;
    }
    .accountListItem {
      border: 1px solid #d8d7d7;
      margin-top: 5px;
      margin-bottom: 20px;
      ul {
        max-height: 150px;
        overflow-y: scroll;
      }
    }

    .textWrap {
      display: block;
    }

    .nav-link {
      padding: 0 !important;
    }

    .nav-tabs {
      border-width: 0 !important;
      margin-bottom: 10px;
    }
    .nav-tabs a {
      line-height: auto;
      border-radius: 0;
      padding: 0;
      border: 0;
      color: #272727;
    }
    .nav-tabs .active {
      color: #337ab7;
    }
    .nav-tabs a:first-child {
      border-right: 1px solid #ddd;
      padding-right: 8px !important;
      margin-right: 8px;
    }

    .searchMain {
      height: 30px;
      width: 60% !important;
    }
    .tab-content {
      margin-bottom: 10px;
    }
    .form-group {
      margin: 0 0 0 10px;
    }
    .tab-content {
      ul {
        margin: 5px 0 0;
        padding: 0;
      }
      li {
        list-style: none;
        padding: 2px 4px;
      }
      li:hover {
        background: #1e90ff;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .accountFieldTab:hover {
    z-index: 2;
    .textWrap {
      display: none;
    }
    .accountFieldTabInner {
      display: block;
    }
  }
}
.invInfoTable {
  .table-responsive {
    border-top: 1px solid #dadadb;
  }
}

.invInfoTable {
  .table > thead > tr > th {
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }
  .form-control {
    font-size: 0.75rem;
  }
  input[type="text"] {
    min-width: 100px;
  }
  input[type="checkbox"] {
    width: 16px;
  }

  .dollerInput {
    padding-left: 14px !important;
    background-position: -10px 50% !important;
  }
}

.accountFieldTab {
  .nav-tabs {
    border: 0;
    margin-bottom: 10px;
  }
  .nav-tabs > li:first-child {
    border-right: 1px solid #ddd;
    padding-right: 8px;
    margin-right: 8px;
  }
  .nav-tabs > li.active > a {
    border: 0 !important;
    color: #337ab7;
  }
}

//  MEDIA

@media screen and (max-width: 1380px) {
  .invInfoTable {
    .table > thead > tr > th {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
