.mainTab {
  background-color: #fff;
  ul {
    li {
      padding: 0 0.5rem;
      a {
        padding: 1rem 0;
        display: block;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
    }
    .active {
      border-bottom: 3px solid #ff1675;
    }
  }
}

.invCaptureBody {
  padding: 35px;
  min-height: 73vh;

  .table-hover > tbody > tr:hover {
    cursor: pointer;
  }
  .smQIcon {
    position: absolute;
    right: -17px;
    top: 10px;
    font-size: 18px;
    color: #f97753;
  }
  label {
    font-weight: 300;
    font-size: 13px;
    color: #747474;
    margin-bottom: 10px;
  }
  .FromGroup {
    margin-bottom: 15px;
    position: relative;
  }
  .createInvoice .theaderBg {
    background: #fff;
    color: #343434;
  }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    border-top: transparent;
  }
  .table-responsive {
    border: transparent;
  }
}

.newTermsPop {
  .FromGroup {
    margin-bottom: 15px;
  }
  .termsAlign {
    position: relative;
    top: 7px;
  }
}

.modal-footer {
  justify-content: center;
}
.bg-img-none {
  select {
    background-image: none !important;
  }
}

.accRecSerOuter {
  select {
    border: 1px solid #dddcdc;
    background: #fff;
    box-shadow: none;
    height: 38px;
    border-radius: 0;
  }
}
