.verifyInvoiceOuter {
  .nav-tabs {
    margin-bottom: 20px;
    font-weight: 500;
  }
  .additionalNoteArea {
    width: 100%;
  }
  .invButtonsWrap {
    padding: 20px 0;
  }
  .nav-tabs {
    border-width: 1px !important;
    .active {
      border-bottom: none;
    }
  }
  .form-group {
    position: relative;
  }
  .invDisplayRightBlock {
    .form-group {
      height: 15px;
    }
    .form-control {
      height: 30px;
      font-size: 12px;
      display: inline-block;
      max-width: 200px;
    }
    .errorMsg {
      right: 0 !important;
      left: auto;
    }
    .customCkBox {
      display: inline-block;
      padding: 0 33px 0 0;
      top: -6px;
    }
    .errorDeclared {
      color: #b43757 !important;
      .companyNameRblock {
        color: #b43757 !important;
      }
      .form-control {
        border: none;
      }
      input {
        color: #b43757 !important;
        text-align: right;
        padding: 0;
      }
    }
    .invRightBlockCon {
      padding: 0 10px;
      ul {
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
    textarea {
      width: 100%;
      padding: 2%;
      box-sizing: border-box;
      min-height: 80px;
      max-height: 100px;
    }
  }
  .dateEditInv .react-date-picker {
    max-width: 200px;
    width: 200px;
    height: 30px;
    font-size: 12px;
    float: right;
    .react-date-picker__calendar {
      left: -85px;
    }
  }
  // END RIGHT PANEL
}

.invoiceMasterHeader {
  background: #fff;
  padding: 15px 37px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0ex;
  }
  .btn-default {
    margin-right: 10px;
  }
} /* END HEADER */

///////////////EXTRA STYLE///////////////

.link {
  color: #0526c1 !important;
  cursor: pointer;
}

.right.modal .invoicMasterWrap {
  .rightContentBlock {
    padding: 4px !important;
  }

  .leftContentBlock {
    padding: 4px !important;
  }

  .invDisplayRightBlock {
    h3 {
      color: #0076d9;
      font-weight: 600;
      background-color: #f7f7f7;
      padding: 10px;
      background-position: 98% 9px;
      margin-top: 0;
      font-size: 15px;
    }

    .companyNameRblock {
      color: #272727;
      font-size: 15px;
      font-weight: 400;
    }

    .table > tbody > tr > td {
      font-size: 12px;
      font-weight: 300;
    }
    .table > tbody > tr > td:last-child {
      font-size: 15px;
    }

    .companyNameRblock {
      color: #272727;
      font-size: 15px;
      font-weight: 400;
    }

    .statusRblock {
      font-size: 13px;
      font-weight: 600;
    }
  } // end invDisplayRightBlock

  .invInfoTable {
    padding-top: 30px;
  }
}
