.billing{
    border:1px solid #ccc;
    select {
        background-image: none !important;
        border: none;
    }
    
}
  
.cusTh{
    th{
        font-size: small !important;
        color: #6b6b6b !important;
        font-weight: 500 !important;
        background: transparent !important;
    }
    
}

 