.engraved {
	font-size:45px;
    //font-family: Futura;
    background-color: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    // text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
    opacity: .5;
    height:500px;
}
.homeWrap{
    height: 100vh;
}
