.myProfileOuter{
    padding: 25px;
}
.myProfileOuter h1{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}
.myProfileOuter .myProfileHead{
    margin-bottom: 40px;
}
.myProfileOuter .btn-xs{
    margin-left:10px;
}
.myProfileOuterModal{
    h4{
        font-weight: 300;
    }
}

.qrCode{
    width: 100px;
    height: 100px;
}

@media screen and (max-width:479px){
    .myProfileOuter h1 {
        font-size: 22px;
    }

    .myProfileOuter{
        padding: 10px;
      }

}
