@import "./../../theme/variable/color";
@import "./../../theme/variable/fontstyle";



.welcomeOuter {
  text-align: center;
  background-color: $dashboard-inner-bg;
}
.regToppanel {
  //background: url(./../../assets/fintainium-welcome-border.png) #ffffff repeat-x 0 100%;
  padding: 30px 0 0;

  .logoHeadFull {
    margin-bottom: 38px;
  }
}

// end: regToppanel

.regCopyOuter {
  background-color: $dashboard-sidebar-bg;
  color: $primary-color;
  padding: 18px 0 14px;
  position: fixed;
  width: 100%;
  bottom: 0;
  p{
	  margin-bottom: 0;
  }
}
.regWhiteOuter {
  //background-color: #fff;
  padding: 50px 0 0;
  position: relative;
  z-index: 1;
}
.login {
  position: relative;
  width: 550px;
  margin: 0 auto 50px;
  text-align: left;
  background-color:$dashboard-inner-bg2;
  padding: 40px;
  -webkit-box-shadow: 1px 3px 35px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 3px 35px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 35px 0px rgba(0, 0, 0, 0.1);

  h2 {
    font-family: $font-secondary;
    font-size: 32px;
    font-weight: bold;
    color: #3d7ab5;
    margin-bottom: 25px;
  }
  .form-check-input {
    margin-right: 4px !important;
  }

  .rightCurve {
    position: absolute;
    top: 16px;
    right: -146px;
  }
  .leftCurve {
    position: absolute;
    bottom: 16px;
    left: -146px;
  }
  .form-control{
	background-color: $dashboard-inner-bg;
	border: $dashboard-inner-bg;
	color: $primary-color;
  }
  .btn{
	  background: $btn-color-primary !important;
	  color: $primary-color;
	  border: 0 !important;
  }
}

.btnStylePrimary {
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #fff !important;
  border-radius: 20px;
  min-width: 170px;
  padding: 10px 25px;
  background: none;
  background: url(./../../assets/reg-btn-arrow.png) $brand-color no-repeat 90% 50% !important;
  text-transform: uppercase;
  box-shadow: none;
  text-shadow: none;
  text-align: left;
  outline: none;
  color: #fff;
  height: auto;
  outline: none;
}
.btnStylePrimary:hover {
  background-color: $reg-btn-hover !important;
  border: 1px solid #fff;
}
.btnStylePrimary:active:hover {
  color: #fff;
}
.backBtn {
  background: url(./../../assets/reg-btn-back-arrow.png) $brand-color no-repeat 10px 50%;
  text-align: right;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 767px) and (orientation: landscape) {
  .regCopyOuter {
    position: static;
  }
}

@media (max-width: 767px) {
  body.loginPage .logoHeadFull img {
    width: 190px;
  }
  .login {
    width: 70%;
    padding: 24px;
    h2 {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 640px) {
  body.loginPage .btnStylePrimary {
    font-size: 13px;
    min-width: 145px;
    padding: 8px 22px;
  }
}

@media (max-width: 480px) {
  .login {
    width: 90%;
    padding: 20px;
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .loginPage .copy {
    font-size: 12px;
  }
}
