.termsPopContent{
    text-align: left;
    max-height: 400px;
    overflow-y: scroll;
    padding: 0 12px;
    

    h3{
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        margin: 20px 0;
    }

    h4{
        font-size: 22px;
        font-weight: 300!important;
        text-align: center;
        margin-bottom: 40px;
    }

    h5{
        font-size: 20px;
        font-weight: 400!important;
        margin-bottom:10px;
    }

    ol li{
        list-style: none;
    }
}