.btn-position {
  transform: translateX(-50px);
  left: 50%;
  position: absolute;
  margin-top: -15px;
}
.uploadWrap {
  height: 250px;
  text-align: center;
  img {
    width: 65%;
    padding-top: 10%;
    max-height: 170px;
    height: auto;
  }
}
.editFromTab {
  .nav-tabs {
    background-color: #f1f1f1;
    a {
      color: #495057;
      text-decoration: none;
    }
    .nav-link.active {
      border-bottom: 2px solid #0076d9;
      border-radius: 0;
      border-right: 0;
      border-top: 0;
    }
  }
}

.addFromTab.nav-tabs {
  .nav-link.active,
  .nav-item.show .nav-link {
    border: none;
    border-bottom: 3px solid #ff1675 !important;
  }
}

.addFromSubTab.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  .nav-link.active,
  .nav-item.show .nav-link {
    border: none;
    border-bottom: 2px solid #0076d9 !important;
  }
}

.font-14 {
  font-size: 14px !important;
}
.react-date-picker__button {
  border: 1px solid #ccc !important;
  padding-right: 3px;
  svg {
    display: none !important;
  }
}
.cus-mt-3 {
  margin-top: 2px;
}

.tab-content {
  width: 100%;
  overflow: hidden;
}
.editFromTab {
  .tab-content {
    padding: 0 2%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
  margin-right: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  border: 1px solid #e1e1e1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -1px;
  bottom: -1px;
  background-color: #d8d8d8;
  border: 1px solid #bebebe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #23bc00;
  border: 1px solid #2d9914;
}

//   input:focus + .slider:before  {
//     box-shadow: 0 0 1px #23bc00;
//   }

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-control {
  border-radius: 0;
}
.collapseOpen {
  padding-left: 22px;
  background: url(./../../../../../assets/plus-icon-permission.png) no-repeat 0 3px;
  cursor: pointer;
  float: left;
}
.collapseClose {
  padding-left: 22px;
  background: url(./../../../../../assets/minus-icon-permission.png) no-repeat 0 3px;
  cursor: pointer;
  float: left;
}

.cusClose {
  .close {
    padding: 1.5rem 1rem !important;
  }
}

.cusWidthfield {
  width: 95%;
}

.businessCustom {
  width: 25px;
  float: left;
}

.pmBankOptionSec {
  padding: 25px 1rem 0;
}

.lightPlaceholder::placeholder {
  color: #ccc;
}

.custom-row-manupulate tbody tr td {
     display: none;
}
.custom-row-manupulate tbody tr:nth-child(1) td,
.custom-row-manupulate tbody tr:nth-child(2) td {
    display: table-cell;
}


.revisedDatePos {
  position: absolute;
  right: 44px;
  top: 2px;
}

.dnNegotiateSuccess {
  color: #0186cf;
  font-size: 11px;
  display: block;
  font-weight: 400;
}

.amountRevisedPos {
  position: absolute;
  top: 0px;
  right: 13px;
}

.dueDateAdjust,
    .invoiceNoAdjust,
    .poAdjust {
      position: relative;
    }


@media (min-width: 992px) {
  .full-width-modal {
    .modal-lg,
    .modal-xl {
      max-width: 95%;
    }
  }
}
