// INVOICE MASTER STYLE

// THEME COLOR

/******************BASE FONT COLOR******************/

$primary-color: #3e3e3e;

/******************REGISTRATION ********************/

$brand-color: #00399d;
$footer-bg-color: #eeeeee;
$registration-label: #272727;
$reg-btn-hover: #032a6d;
$reg-link-color: #07bad8;
$error-msg-color: #e15050;
$registration-color: #505050;
$registration-form-border-color: #e5e5e5;

/******************MISE ********************/

$mandatory-color: #e15050;
$dashboard-tab-content-bg: #fff;

/********************EXTRA*************************/

$primary-btn-color: #fff;
$registration-bgcolor: #00399d;
$reg-tab-color: #3e80d6;
$reg-tab-active-color: #03a1cf;
$dashboard-key-point: #190082;
$dashboard-key-point-hover: #2403ac;

/*============================THEME COLOR===================================*/

// DASHBOARD
$dashboard-bg: #fbfbfb;
$dashboard-sidebar-bg: #101f38;
$dashboard-sidebar-color: #fff;
$dashboard-sidebar-nav-hover: #0b1627;
$dashboard-sidebar-nav-active: #ff1675;
$dashboard-top-panel-bg: #0076d9;

// TAB COLOR
$active-tab-border-color: #ff1675;
$active-tab-color: #101f38;

// STATUS COLOR
$void: #676767;
$uploaded: #0186cf;
$reviewed: #0426c0;
$approved: #060707;
$submited: #ca6901;
$paid: #367f03;
$sent: #00b48d;
$due: #ca6902;
$error: #b43757;
$unopened: #ca6902;

// BUTTON COLOR
$search-btn: #c6dae3;
$upload-btn: #0186cf;
$void-btn: #676767;
$approve-btn: #00b58d;
$download-btn: #0186cf;

// TABLE
$table-border: #f5f5f5;
$table-head: #f8f8f8;
$table-color: #8e8e8e;

.invoiceMasterHeader {
  background: #fff;
  padding: 15px 37px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0ex;
  }
  .btn-default {
    margin-right: 10px;
  }
  .void-btn {
    background-color: $void-btn !important;
    color: #fff;
  }
  .approve-btn {
    background-color: $approve-btn !important;
    color: #fff;
  }
} /* END HEADER */

// GENERAL STYLE
.right.modal {
  .invoicMasterWrap {
    .table-bordered,
    .table {
      color: #5b5b5b;
    }
    .content-block {
      color: #5b5b5b;
      p {
        font-size: 15px;
      }
    }

    .table > thead > tr > th {
      font-size: 15px;
    }

    .btn-default {
      padding: 12px;
      background-image: none;
      background-color: #efefef;
      border-radius: 0;
      min-width: 100px;
      font-size: 16px;
      font-weight: 300;
    }
    .comment {
      resize: none;
      width: 62%;
      min-height: 87px;
      max-height: 87px;
      overflow-y: auto;
    }

    h3 {
      font-weight: 400;
    }

    .invAddressAmount {
      h3 {
        font-weight: 300;
        color: #939393;
      }
      h4 {
        font-size: 15px;
        font-weight: 600;
      }
      .print-billTo,
      .print-remit {
        h4 {
          text-transform: uppercase;
        }
      }
    }

    .table td {
      border: 0;
      padding: 0;
      padding-right: 10px;
      font-size: 15px;
    }

    .rightContentBlock {
      padding: 4px !important;
    }

    .voidMessage {
      td {
        padding: 0 10px 12px;
        border: none !important;
      }
    }

    .table-responsive {
      border: 0;
      border-top: 0px solid #dadadb;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
      border-top: 1px solid #f5f5f5 !important;
      padding: 12px 10px;
    }

    .statusInfo {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
    }

    .statusInfo.sent {
      color: $sent;
    }

    .statusInfo.draft,
    .statusInfo.review {
      color: $reviewed;
    }
    .due,
    .statusInfo.due {
      color: $due;
    }
    .statusInfo.cancel {
      color: #f01010;
    }
    .statusInfo.warning {
      color: $warning;
    }
    .statusRblock.reviewed,
    .statusInfo.reviewed {
      color: $reviewed;
    }
    .statusRblock.uploaded,
    .statusInfo.uploaded {
      color: $uploaded;
    }
    .statusRblock.paid,
    .statusInfo.paid {
      color: $paid;
    }
    .statusRblock.approve,
    .statusInfo.approve,
    .statusInfo.approved {
      color: $approved;
    }
    .statusRblock.submit,
    .statusInfo.submit {
      color: $submited;
    }
    .statusRblock.voided,
    .statusInfo.voided {
      color: $void;
    }
    .statusRblock.unopened,
    .statusInfo.unopened {
      color: $unopened;
    }

    .invDisplayRightBlock {
      padding-bottom: 20px;

      .table {
        margin-bottom: 0;
      }

      .transDetailsFirstRow td {
        padding-bottom: 0;
      }

      .table > tbody > tr > td {
        font-size: 12px;
        font-weight: 300;
      }
      
      h3 {
        color: #0076d9;
        font-weight: 600;
        background-color: #f7f7f7;
        padding: 10px;
        background-position: 98% 9px;
        margin-top: 0;
        font-size: 15px;
      }

      .companyNameRblock {
        color: #272727;
        font-size: 15px;
        font-weight: 400;
      }
      .statusRblock {
        // color: #272727;
        font-size: 13px;
        font-weight: 600;
      }
      .transactionAmount {
        font-size: 15px;
      }
      .numberDateRow {
        td {
          padding-top: 0;
          border-top: 0 !important;
          padding-bottom: 12px;
        }
        span {
          display: block;
        }
      }
    }
    // END : TRANSACTION RIGHT SECTION
  }

  .totalAmount {
    padding-right: 4%;
    border-top: 1px solid #dfdfdf;
    padding-top: 15px;
  }
}

.logoPrint {
  display: none;
  img {
    margin: 0 auto 20px;
    display: block;
  }
}

.invoiceTable {
  h5 {
    font-size: 15px;
    font-weight: 400;
    color: #171717;
  }
  p {
    font-size: 14px !important;
  }
  th {
    font-size: 17px;
    color: #090909;
    font-weight: 400;
  }
}

.actionButtons {
  margin: 7px 64px 0 0;
  float: right;
  button {
    background: none;
    border: 0;
    font-size: 20px;
    color: #aaaaaa;
    margin-right: 24px;
    outline: none !important;
    border: 0;
  }
  button:hover {
    color: #e92d7a;
  }
  button:last-child {
    margin-right: 0;
  }
  button:disabled {
    background-color: transparent !important;
    border: none !important;
  }
} // END ACTION BUTTON

.leftColBlack {
  td {
    padding-right: 10px;
    font-size: 15px;
  }
}

.collapaseOuter {
  h3 {
    color: #0675cf;
    padding-bottom: 12px;
    border-bottom: 1px solid #e2e3e5;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
  }
}

.payOptionsOuter {
  background: #fff;
  padding: 0 37px;
  text-align: center;
  position: relative;

  h4 {
    font-size: 17px;
    color: #0076d9;
    font-weight: 400;
    margin: 0;
    padding-bottom: 18px;
    padding-top: 20px;
  }

  .collapaseOuter {
    #payoption-detals {
      //   padding-bottom:20px;
      background: url(../../../../../assets/invoice-master-dots.png) repeat-x 0 0;
    }
    #payoption-detals:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(50%, 0);
      background-image: url(../../../../../assets/pay-option-down-arrow.png);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .payOptionsBox {
    width: 310px;
    height: 144px;
    padding: 12px;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ebebeb;
    border-top: 3px solid transparent;
    text-align: left;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    margin-left: 28px;
    margin-bottom: 20px;
    p {
      font-size: 14px;
      color: #5a5a5a;
      font-weight: 300;
      span {
        color: #000;
      }
    }
    button {
      width: 68%;
      padding: 6px 10px !important;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      background: url(../../../../../assets/payoptions-btn-arrow.png) #00b58d no-repeat 92% 50% !important;
      border: 1px solid #008366;
      border-top: transparent;
      border-left: transparent;
      margin-bottom: 6px;
      text-align: left;
    }
  }
  .payOptionsBox:hover {
    border-top: 3px solid #0076d9;
  }
  .payOptionsBox::first-child {
    margin-left: 0;
  }
} /* END PAYOPTION OUTER */

.modalStylePayment {
  h2 {
    font-size: 22px;
    font-weight: 400;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
  .modal-body {
    padding: 0;
  }
  .modalStylePaymentInner {
    padding: 0 15px 0 0;
  }
  .modalStylePaymentInnerLeft {
    // min-height: 455px;
    background: #0076d9;
    color: #fff;
    padding: 15px 0;
    border-radius: 6px 0 0 6px;
    .invDetailsWrap {
      padding: 24px 15px;
      font-size: 15px;
      font-weight: 300;
      .row {
        padding-bottom: 12px;
      }
    }
    .invTotalPayment {
      background-color: #101f38;
      padding: 5px;
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 87px;
      h4 {
        margin: 0;
        font-size: 16px;
      }
      .dashLine {
        border-bottom: 1px dashed #0076d9;
        width: 98%;
        margin: 10px auto;
      }
    }
    .mspInnerPad {
      padding: 0 15px;
    }
    .pmInfo {
      padding: 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 13px;
      line-height: 14px;
      font-weight: 300;
    }
  }
  .modalStylePaymentInnerLeft:after {
    clear: both;
    display: block;
    content: "";
  }

  .modalStylePaymentInnerRight {
    padding: 15px;
    .mspSlectBankWrap {
      padding: 20px 0;
    }
    .applyMemo {
      cursor: pointer;
      color: #0675cf;
      margin-left: 20px;
      position: relative;
      top: 4px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }

    .pmsMemoWrap,
    .pmsRadioWrap {
      margin-bottom: 15px;
      input[type="checkbox"],
      input[type="radio"] {
        float: left;
      }
      .pmsCheckBlock,
      .pmsRadioBlock {
        float: left;
        padding-left: 10px;
        .form-control {
          float: left;
          width: 120px;
        }
      }
    } // RADIO WRAP
    .pmsMemoWrap:after,
    .pmsRadioWrap:after {
      clear: both;
      display: block;
      content: "";
    }

    .pmsMemoWrap {
      input[type="checkbox"] {
        margin-top: 4px;
      }
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .paynowSpWarning {
      height: 25px;
    }
    .rightFooterBtn {
      position: absolute;
      bottom: 20px;
      right: 16px;
      width: 100%;
    }
  } // RIGHT SECTION

  .modalStylePaymentInnerRight,
  .modalStylePaymentInnerLeft {
    min-height: 367px;
    position: relative;
  }
} // END MODAL STYLE PAYMENT

@media screen and (max-width: 1360px) {
  .modalStylePayment .modalStylePaymentInnerRight .pmsMemoWrap .pmsCheckBlock .form-control,
  .modalStylePayment .modalStylePaymentInnerRight .pmsMemoWrap .pmsRadioBlock .form-control,
  .modalStylePayment .modalStylePaymentInnerRight .pmsRadioWrap .pmsCheckBlock .form-control,
  .modalStylePayment .modalStylePaymentInnerRight .pmsRadioWrap .pmsRadioBlock .form-control {
    width: 90px;
  }
  .modalStylePayment .modalStylePaymentInnerRight h3 {
    font-size: 16px;
  }
  .modalStylePayment .modalStylePaymentInnerRight h4 {
    font-size: 15px;
  }

  .right.modal .invoicMasterWrap .btn-default {
    min-width: 90px;
    font-size: 14px;
  }
}

/*----------------------------
PRINT
----------------------------*/

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }

  @page {
    margin: 2cm;
  }

  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot {
    display: none;
  }
  .logoPrint {
    display: block;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 14px;
    font-weight: 500;
  }
  h4 {
    font-size: 12px;
    font-weight: 400;
  }

  table,
  th,
  td {
    border: solid white;
    border-width: 0 1px 1px 0;
    // border-bottom-style: none;
    padding: 2px;
  }
  th {
    font-size: 14px;
  }
  td {
    font-size: 12px !important;
  }
  // END PRINT GENERAL STYLE

  .print-billTo,
  .print-remit,
  .print-invoice-details {
    width: 33%;
    float: left;
  }

  .invAddressAmount {
    h3 {
      font-size: 24px !important;
      font-weight: 600 !important;
    }
    h4 {
      font-size: 14px;
      font-weight: 600 !important;
    }
    p {
      font-size: 12px;
    }
  }

  .table td {
    border: 0 !important;
  }

  .commentOuter {
    h3 {
      font-size: 14px !important;
      padding: 6px 10px;
      background-color: #333333 !important;
      color: #fff !important;
      margin-bottom: 0 !important;
    }
    .comment {
      border: 1px solid #cccccc !important;
      padding: 10px;
    }
  }

  .print-invoice-details {
    h4 {
      white-space: nowrap;
    }
    td {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      border-color: #fff !important;
    }

    table,
    th,
    td {
      border-width: 3px 1px 1px 0;
    }
  } // END PRINT INVOICE DETAILS

  .invoiceTable {
    table {
      border-color: #dddddd !important;
      border-width: 1px !important;
    }
    th,
    td {
      border-color: #dddddd;
      border-right-width: 0;
      padding: 2px 10px !important;
    }
    th {
      padding: 6px 10px;
      background-color: #333333 !important;
      color: #fff !important;
    }
    h5 {
      font-size: 11px;
    }
  } // END INVOICE TABLE

  .rightContentBlock {
    h3 {
      font-size: 14px !important;
      padding: 6px 10px;
      background-color: #333333 !important;
      color: #fff !important;
    }
    .table {
      border-color: #cccccc;
      border-left-width: 1px;
      border-bottom-width: 1px;
    }
    td {
      border-color: #dddddd;
      border-right-width: 0;
      padding: 2px 10px !important;
    }

    .voidMessage {
      td {
        border-width: 0;
      }
    }

    .transDetailsFirstRow {
      td {
        border-bottom-color: #fff;
        padding-bottom: 0 !important;
      }
      .transactionAmount {
        text-align: right;
      }
    }
    .numberDateRow {
      td {
        padding-top: 0 !important;
      }
    }
    .companyNameRblock {
      font-size: 12px;
    }
    .statusRblock {
      font-size: 11px !important;
    }
  } // END RIGHT CONTENT BLOCK

  .itemDescriptionPrint,
  .invPaymentDate,
  .due {
    display: block;
    font-size: 10px !important;
  }
}
