// /******************BASE FONT COLOR******************/

// $primary-color: #3e3e3e;

// /******************REGISTRATION ********************/

// $brand-color:#00399d;
// $footer-bg-color:#eeeeee;
// $registration-label:#272727;
// $reg-btn-hover: #032a6d;
// $reg-link-color: #07bad8;
// $error-msg-color:#e15050;
// $registration-color: #505050;
// $registration-form-border-color: #e5e5e5;


// /******************DASHBOARD ********************/

// $dashboard-sidebar-bg:#101f38;
// $dashboard-sidebar-color:#fff;
// $dashboard-sidebar-nav-hover:#0b1627;
// $dashboard-tab-content-bg:#fff;
// $dashboard-top-panel-bg: #0076d9;

// /******************MISE ********************/
// $mandatory-color: #e15050;


// /********************EXTRA*************************/

// // STATUS COLOR
// $void: #676767;
// $uploaded: #0186cf;
// $reviewed: #0426c0;
// $approved: #060707;
// $submited: #ca6901;
// $paid: #367f03;
// $sent: #00b48d;
// $due: #ca6902;
// $unopened:#ca6902;
// $warning:#b43757;

// $primary-btn-color: #fff;
// $registration-bgcolor: #00399d;
// $reg-tab-color:#3e80d6;
// $reg-tab-active-color:#03a1cf;
// $dashboard-key-point:#190082;
// $dashboard-key-point-hover:#2403ac;

//$btn-color-primary: #0186cf;


/***************** Dark Theme Color ****************/




/******************BASE FONT COLOR******************/

$primary-color: #fff;

/******************REGISTRATION ********************/

$brand-color:#00399d;
$footer-bg-color:#eeeeee;
$registration-label:#272727;
$reg-btn-hover: #032a6d;
$reg-link-color: #07bad8;
$error-msg-color:#e15050;
$registration-color: #505050;
$registration-form-border-color: #e5e5e5;


/******************DASHBOARD ********************/

$dashboard-sidebar-bg:#2b2e3d;
$dashboard-sidebar-color:#fff;
$dashboard-sidebar-nav-hover:#494E55;
$dashboard-tab-content-bg:#fff;
$dashboard-top-panel-bg: #2b2e3d;
$dashboard-top-panel-color: #fff;
$dashboard-inner-bg: #171a21;
$dashboard-inner-bg2: #2e364d;
$model-txt-box-bg: #313131;

/******************MISE ********************/
$mandatory-color: #e15050;


/********************EXTRA*************************/

// STATUS COLOR
$void: #676767;
$uploaded: #0186cf;
$reviewed: #0426c0;
$approved: #060707;
$submited: #ca6901;
$paid: #367f03;
$sent: #00b48d;
$due: #ca6902;
$unopened:#ca6902;
$warning:#b43757;

$primary-btn-color: #fff;
$registration-bgcolor: #00399d;
$reg-tab-color:#3e80d6;
$reg-tab-active-color:#03a1cf;
$dashboard-key-point:#190082;
$dashboard-key-point-hover:#2403ac;

$white: #fff;
$black: #000;
$orange: #f95025;

$btn-color-primary: linear-gradient(90deg, rgba(255,51,94,1) 0%, rgba(247,87,27,1) 100%);

