
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700');

@import url('/assets/fonts/fonts.css');

/*
 font-family: 'Lato', sans-serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Chivo', sans-serif;
 font-family: 'Source Sans Pro', sans-serif;
*/


// $font-stack:'Source Sans Pro', sans-serif;
// $font-secondary:'Poppins', sans-serif;


$font-stack:'proxima_novaregular', sans-serif;
$font-secondary:'proxima_novaregular', sans-serif;


h1.styleSubHeadOne{
   font-size: 22px;
}
h2.styleSubHeadTwo{
   font-size: 20px;
}
h3.styleSubHeadThree{
   font-size: 18px;
}
h4.styleSubHeadFour{
   font-size: 16px;
}
h5.styleSubHeadFive{
  font-size: 14px;
}