@import "./theme/variable/color";
@import "./theme/variable/fontstyle";
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, example- className="right".
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  background: rgba(43, 46, 61, 0.91);
  font-family: $font-secondary;
  .modal-body{
	  background-color: transparent;
  }
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal-body{
	background-color: $dashboard-sidebar-nav-hover;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */

.modal.left .modal-content,
.modal.right .modal-content {
  border-radius: 0;
  border: none;
}

.modal.left .modal-header,
.modal.right .modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

/* ----- MODAL SIZE ----- */

.modal.full,
.modal.full {
  .modal-dialog {
    width: 92% !important;
    max-width: 92% !important;
  }
}

.modal.medium,
.modal.medium {
  .modal-dialog {
    width: 70% !important;
    max-width: 70% !important;
  }
}

.modal.half,
.modal.half {
  .modal-dialog {
    width: 50% !important;
    max-width: 50% !important;
  }
}

.noPadding {
  .modal-body {
    padding: 0 !important;
  }
  .modal-header {
    background: none !important;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 9;
    padding: 0;
    border: 0 !important;
  }
} // END NOPADDING

.modal-header .close {
	background-image: url(assets/close-v2.png) !important;
	background-position: 0 50%;
	width: 20px !important;
	height: 20px !important;
	opacity: 1 !important;
	background-repeat: no-repeat;
	box-shadow: none;
	outline: none;
	&:hover,
	&:focus{
		box-shadow: none;
		outline: none;
	}
	span{
		display: none;
	}
}

.left.modal,
.right.modal {
  .content-body {
    border-top: 1px solid $model-txt-box-bg;
    padding: 24px 37px;
    .font-weight-bold{
      font-weight: 600;
    }
  }
  .content-block {
    background: #fff;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 28px;
    color: #868686;
    font-weight: 300;

    h3 {
      font-weight: 600;
      font-size: 16px;
      color: #000;
    }
    h4 {
      font-weight: 300;
      font-size: 16px;
      color: #000;
    }
    p {
      font-size: 16px;
    }
  } // MODAL CONTENT BLOCL END

  .content-block-footer {
    border-top: 1px solid #f6f6f6;
    padding: 18px 0 0;
    margin-top: 18px;
    strong {
      font-weight: 500;
    }
  }

  .black {
    color: #000;
  }

  .collapas-hide,
  .collapas-show {
    background-repeat: no-repeat;
    background-position: 98% 0;
  }
  .collapas-show {
    background-image: url(./assets/show-ico-slide.png);
  }
  .collapas-hide {
    background-image: url(./assets/hide-ico-slide.png);
  }

  .table-sample-1 {
    thead {
      background-color: #f8f8f8;
      th {
        font-weight: 400;
        border-bottom: 1px solid #ebebeb;
        color: #202020;
        padding: 10px;
      }
    }
    tbody {
      background: #fff;
      td {
        border-top: 1px solid #f6f6f6;
        color: #8c8c8c;
        padding: 10px;
      }
    }
  } // END TABLE SAMPLE 1

  .block-sample-01 {
    font-weight: 300;
    background: #fff;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
} // MODAL END GENERAL STYLE

/* -------------------------------------------
----- END: MODAL LEFT RIGHT STYLE -----
------------------------------------------ */

.payOptionPop {
  .modal-footer,
  .modal-header {
    border: none;
  }

  .modal-body {
    h4 {
      font-weight: 600;
    }

    h5 {
      font-size: 18px;
      font-weight: 300;
    }

    img {
      margin-bottom: 25px;
    }
    p {
      font-family: $font-secondary;
    }
  }

  .payOptBtn {
    button {
      float: none;
    }
  }
}


.modal-content {
	.form-control{
		border-radius: 0;
		border: 1px solid $black;
		background: $model-txt-box-bg;
		color: $primary-color;
	}
	input[type="file"]{
		height: 45px;
	}
}

.slideModal {
	.modalHeader {
		//background: #fff;
		padding: 15px 37px;
		border-bottom: solid 1px $dashboard-sidebar-nav-hover;

		h1 {
			font-size: 25px;
			font-weight: 300;
			letter-spacing: 0ex;
		}
		.btn-default {
			margin-right: 10px;
		}
		.void-btn {
			color: #fff;
		}
		.approve-btn {
			color: #fff;
		}
	}

	h3 {
		color: $primary-color;
		padding-bottom: 0;
		font-size: 14px;
	}

	.modalTabStyle {
		background: #fff;

		.nav-tabs {
			padding: 0 35px;
			border-bottom: 2px solid #f4f5f7;
		}
		.nav > li > a {
			padding: 8px 0;
			margin-right: 35px;
			color: #b7b5b5;
			border: transparent;
			outline: none;
			font-size: 17px;
		}
		.nav > li > a:hover {
			background: none;
			border-bottom: 2px solid #ff1675;
		}
		.nav-tabs > li.active > a {
			border: none;
			color: #6c6b6b;
			border-bottom: 2px solid #ff1675;
		}
	}
}