@import "./theme/variable/color";
@import "./theme/variable/fontstyle";
@import "./popup.scss";
@import "./media-query.scss";


img {
  max-width: 100%;
}

body {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.0625em;
  color: $primary-color;
  background-color: $dashboard-inner-bg;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 0;
}

.loaderStyle {
  .loadingSpinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &:before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(4px);
      background-color: rgba(58, 58, 58, 0.35);
    }
  }
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #f8f9fa !important;
  background-color: #0076d9;
}

.pr-35 {
  padding-right: 35px !important;
}
.required {
  color: red;
}
.custom-btn-focus {
  background: none;
  border: none;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  &:focus {
    color: #ccc;
    outline: none;
  }
}
.activeColor {
  color: #fa4a33;
}
.sortingFontSize {
  font-size: 12px;
}
.customActionButton {
  background: none !important;
  color: #000 !important;
  padding: 0;
  background-color: none !important;
  border: none !important;
  &:after {
    display: none;
  }
  &:focus {
    box-shadow: none !important;
  }
}
.search-btn {
  background: #c6dae3;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #a7cada !important;
  }
}

.mainTab {
  .nav-tabs a {
    font-size: 17px;
    color: #a6a6a6;
  }
  .nav-tabs a.active {
    color: #343434;
  }
  ul > li {
    margin-right: 50px;
  }
  ul > li > a:hover {
    border-bottom: 3px solid #ff1675;
  }
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.action-btn {
  background: #c6dae3;
  border: 1px solid transparent;
  color: #000;
  &:hover {
    border: 1px solid #a7cada !important;
  }
}
.w-210 {
  width: 210px !important;
}
.w-90{
    width: 90px !important;
}
.font-weight-500{
  font-weight:500;
}
.mt-20{
  margin-top: 20px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.pointer {
  cursor: pointer;
}

.react-date-picker__button {
  border: none !important;
}

.react-date-picker__button {
  border: none;
  svg {
    display: none !important;
  }
}

.react-date-picker__calendar {
  max-width: 285px !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}

button.react-date-picker__clear-button.react-date-picker__button__icon {
  display: none;
}
.numArrowHide {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}


.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}

.uploadWrap {
  border: 1px solid #ccc;
}
.dashboardCont .cus-date .react-date-picker__button {
  background: transparent;
  height: auto;
}
.asiCalenderFix + div {
  overflow: visible !important;
}
.react-calendar__tile {
  padding: 0.5em 0.35em !important;
}
.dashboardCont #sidebar.active ul li:hover .textLink {
  display: block;
  position: absolute;
  z-index: 9;
  background: #0b1627;
  width: 175px;
  text-align: left;
  padding: 14px 10px 14px 22px;
  left: 66px;
  transform: translateY(-50%);
  top: 50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0;
  font-size: 14px;
  box-sizing: border-box;
}
.form-group {
  .react-date-picker__button {
    border: none !important;
  }
}
.btn-darkBlue {
  background-color: #1b9ef8 !important;
}
.table {
  border-bottom: 0;
}
.businessDropdown,
.vendorDropDown,
.bankDropDown {
  max-width: 100%;
  width: 190px !important;
}
.react-datepicker-wrapper {
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.customPrice {
  font-size: 2.5em;
  font-weight: bolder;
}
.font-large {
  font-size: large;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.width-92 {
  width: 92%;
}
.billbnkImg {
  width: 50%;
  max-width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-size-14 {
  font-weight: 400 !important;
}

.noWrap {
  white-space: nowrap;
}

.btn-dark {
  background: #233d65;
  color: #fff !important;
  border: 1px solid transparent !important;
}
.err-border {
  border-color: $error-msg-color;
}

.invoiceMasterBody {
  .totalAmount {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
  }
  .nav-link {
    padding: 0.5rem 0.5rem !important;
  }
}

a + ul.list-unstyled.ml-3.sub-menu {
    display: none;
}
a.active + ul.list-unstyled.ml-3.sub-menu {
    position: relative;
    left: -16px;
    width: 100%;
    display: block;
    a{
      border: none !important;
      //background:red !important;
      span.textLink  {
        margin-left: 25px !important;
      }
    }
    a.active{
      border: none !important;
      //background:#125aa7 !important;
    }
}
.boxBg .red {
  color:red!important
}
.boxBg .green {
  color:green!important
}
.boxBg .fa {
  font-size: 17px;
  cursor: pointer;
}
.boxBg .center {
  text-align:center!important
}

.loaderImg{
	//opacity: 0.8;
}