@import "./theme/variable/color";

// @media (min-width: 576px) { sm }
// @media (min-width: 768px) { md }
// @media (min-width: 992px) { lg }
// @media (min-width: 1200px) { xl }




// Start below 950px
@media screen and (max-width:950px) {

	.dashboardInner{
		padding: 15px;
	}
	.customArrowBut span{
		font-size: 15px;
		padding-left: 0;
	}
	.dashboardCont{
		#sidebar{
			max-width: 180px;
			min-width: 180px;
			ul{
				li{
					a{
						font-size: 15px;
						padding-left: 12px;
						padding-right: 12px;
						span{
							padding-left: 8px;
						}
					}
				}
			}
		}
	}

	.boxBg{
		.table-hover{
			td, th{
				max-width: 10px;
				padding: 10px 5px;
				font-size: 12px;
				.fa{
					font-size: 15px;
				}
			}
		}

	}

}
// End below 950px

// Start below 812px
@media screen and (max-width:812px) {

	.shrinkExpandMobile{
		display: block;
	}
	.shrinkExpand{
		display: none;
	}


	.dashboardCont{
		 #sidebar{
			 margin-left: -180px !important;
			 &.active{
				 min-width: 50px;
				 max-width: 50px;
			 }
			 .sidebar-header{
				 padding-top: 0;
				 padding-bottom: 0;
			 }
			  ul{
				li{
					a{
						padding: 10px 5px;
					}
				}
			  }
		 }
	}

}
// End below 812px

// Start below 600px
@media screen and (max-width:600px) {
	
	.boxBg{
		overflow-x: auto;
	}
	.table-responsive{
		min-width: 600px;
	}

}
// End below 600px