.invoiceMasterBody {
  letter-spacing: 0 !important;
  .invAddressAmount {
    
    h3 {
      font-weight: 300!important;
      color: #939393!important;
      margin-bottom: 10px;
      padding: 0;
    }
    h4 {
      font-size: 15px;
      font-weight: 600!important;     
      margin-bottom: 10px;
      color: #000;
    }
    p {
      font-size:15px !important;
    }
    .print-billTo{
      h4{
        text-transform: uppercase;
      }
    }
  }
}

.right.modal .invoiceMasterBody .rightContentBlock {
  padding: 4px !important;
}
// .right.modal .invoiceMasterBody .invDisplayRightBlock {
//   padding-bottom: 20px;
// }

.right.modal .invoiceMasterBody .invDisplayRightBlock {
  h3 {
    color: #0076d9;
    font-weight: 600;
    background-color: #f7f7f7;
    padding: 10px;
    background-position: 98% 9px;
    margin-top: 0;
    font-size: 15px;
    cursor: pointer;
  }
}

.collapas-hide,
.collapas-show {
  background-repeat: no-repeat;
  background-position: 98% 0;
}
.collapas-show {
  background-image: url(./../../../../../assets/show-ico-slide.png);
}
.collapas-hide {
  background-image: url(./../../../../../assets/hide-ico-slide.png);
}
.statusRblock {
  color: #272727;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.42857143;
}
.companyNameRblock {
  color: #272727;
  font-size: 15px;
  font-weight: 400;
}
.content-block {
  background: #fff;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 28px;
  color: #868686;
  font-weight: 300;
}
.table > thead {
  background: #f8f8f8;
  border-bottom: 1px solid #ededed;
  color: #343434;
}

.collapeBlock {
  .row {
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    &:last-child {
      border-bottom: none;
    }
  }
}
.invoiceMasterHeader h1 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0ex;
}

.tableBorder {
  border: 1px solid #dedede;
}
.transaction-details-height{
  height: 300px;
  overflow-y: auto;
}
