/*
    Transaction.scss
*/

.transactionSearch{
    margin-bottom: 20px;
}

.cusTabControl{
    background-color: #FFF;
}

.nav-tabs.cusTabControl .nav-link.active, 
.nav-tabs.cusTabControl .nav-item.show .nav-link{
    border:none;
    border-bottom: 3px solid #ff1675;
}
.nav-tabs.cusTabControl .nav-item.show .nav-link{
    font-size: 16px;
}
.nav-tabs.cusTabControl{

    .tab-content{
        background-color: #fff;
    }
}

.fundingDebit,.invoicepayment{
    border:1px solid #dee2e6;
    border-top: 0px;
}

.invoiceIco:after{
    content:'d';
    display: block;
    width: 10px;
    height: 10px;
    background: #fcc;
}



/*------*/
.transactionHistory{

    .bankSelectOuter{
        padding: 35px;
        background-color: #fff;
        margin-bottom: 15px;       
        overflow: hidden;

        .selectAllWrap{
            margin-bottom: 20px;

            label{
                display: inline-block;
            }
            input[type="checkbox"]{
                margin-right: 10px;
            }
        } /*========END: selectAllWrap==============*/

        .slick-slide{
            max-width: 250px;
            div{ 
                outline: none;
            }
        }

        .slick-prev,
        .slick-next{
            top:-27px;
            opacity: 1;
        }
        .slick-prev:before,
        .slick-next:before{
            opacity: 1;
            display: none;
        }
       
        // .slick-prev{
        //     background: url(../../../assets/prev-bank.png) no-repeat 0 0;
        //     left: 94%!important;
        // }
        // .slick-next{
        //     background: url(../../../assets/next-bank.png) no-repeat 0 0;
        //     right: 12px!important;
        // }

        .bankNameInner{
            border: 1px solid #dadada;
            padding: 20px;
            width: 94%;
            overflow: hidden;            
            height: 70px;
            vertical-align: middle;
            margin-bottom:5px;
            position: relative;

            input{            
                margin-right: 20px;
                top:50%;
                transform: translateY(-50%);
            }
          
            img{
                position: absolute;
                top:50%;
                right: 10px;
                transform: translateY(-50%);
                max-width: 164px;
            }
        }
        
        .bankNameSlider{
            width: 1170px;
        }

              

    }/*=====END: bankSelectOuter========*/

    .transactionInner{
        //padding: 35px;
    }
    .faSearchPanel h4 {
        display: inline;
        font-size: 18px;
        margin-right: 10px;
    }

    .faSearchPanel{
        //margin-bottom: 35px;

        .searchBox {
            width: 45% !important;
            height: 40px;
            background-color: #fff !important;
            font-size: 16px !important;
            //background-image: url(../../../assets/searchIconMain.png) !important;
            background-position: 100% 50% !important;
            background-repeat: no-repeat !important;
            margin-right: 5px;
        }
    }/*=====END: faSearchPanel========*/

    .btnTranShowHide{
        background: none!important;
        box-shadow: none!important;
        padding: 4px;
        margin-right: 20px;
        height: auto;
        span{
            color: #4a4848;
        }
    }

   .transactionDetailsOuter{
       width: 100%;
    }
    .transactionDetailsRow{
        background-color: #edf2f8;
    }

    

    .table-hover > tbody > tr.transactionDetailsRow:hover,
    .table-hover > tbody > tr.transactionDetailsRow:hover .table{
        color: #3e3e3e!important;
    }
    .table-hover > tbody > tr.transactionDetailsRow:hover {
        background:inherit;
    }

    .table-hover > tbody > tr.transactionDetailsRow:hover .table{
        background: transparent;
    }

    .transactionDetails{       
        width: 100%;
        box-sizing: border-box;
        // overflow-x: scroll;

        .statusInfo{
            padding: 1px;
        }

        .pagination{
            margin: 10px;
        }
        .paginationOuter{
            background: #e9eef2;
        }

        .table{
            margin-bottom: 0!important;
            border-bottom: 1px solid #d9e0ea;
        }

        th{
            background-color: #9bb6c7;
            color: #fff;
            padding:2px 15px;
            font-weight: 400;
        }
        td{
            padding: 4px 15px!important;
        }
        .fundingDebitHeader{
            background: #8aa0b8;
        }
        .fundingDebitCol{
            background: #edf2f8;
            border-right: 1px solid #d9e0ea;

            h2{
                font-size: 16px;
                margin-bottom: 1px;
            }
            h3{
                font-size: 18px;
            }
            h4{
                font-size: 20px;
                font-weight: 600;
            }
            
        }

        .pagination > li > a, .pagination > li > span {
            padding: 2px 8px;
            color: #337ab7;
            background-color:transparent;
            border:transparent;
        }
       
    }/*=====END: Transaction Details========*/

    input[type="checkbox"] {
       width: 16px;
       height: 16px;
    }

   

 }/*=====END: TRANSACTION HISTORY MAIN WRAP========*/   


.expandCon{
    .transactionHistory{
        .bankNameSlider{
            width: 1400px;
        }
    }
}


.react-date-picker__button {
    svg{
        display: none !important;
    }
}

.invoicepayment{
    .nav-tabs.subTab{
        // background-color: #fff;
        // border-top:1px solid #dee2e6;
        .nav-link.active{
            font-weight: bold;
            background-color: transparent;
            border:none;
            border-bottom: 2px solid #0076d9;
        }
    } 
}
button:focus {
    outline: none;
}

.traceNo{
    width: 135px;
}
.businessDropdown{
    width: 25%;
}
.bankDropDown {
    width: 20%;
}
.vendorDropDown {
    width: 15%;
}
/*-----*/
.pending{
    color: #cc9900 !important;
    font-weight: 500;
    text-transform: capitalize;
}


.btn-cus-update{
    height:30px !important;
    padding: 4px 15px !important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width:1024px) {
    .shrinkCon .transactionOuter {
        .searchMain {
            width: 29% !important;
        }
    }
}
/*=======END: screen 1024px=======*/

@media (max-width:767px) {   
    .shrinkCon .transactionOuter .topSearch,
    .transactionOuter .topSearch {
        .searchMain {
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
    .topSearch .form-control{
        width: 100%;
        margin-bottom: 10px;
    }

    .transactionSearch .m-l-20{
        margin-left: 0;
    }
}
/*=======END: screen 767px=======*/
