.cusTabControl{
    background-color: #FFF;
    border: none;
}

.nav-tabs.cusTabControl .nav-link.active, 
.nav-tabs.cusTabControl .nav-item.show .nav-link{
    border:none;
    border-bottom: 3px solid #ff1675;
}
.nav-tabs.cusTabControl .nav-item.show .nav-link{
    font-size: 16px;
}
.nav-tabs.cusTabControl{

    .tab-content{
        background-color: #fff;
    }
}

.achCol .achFileWrap{
    width: 150px;
    word-wrap: break-word;
}
