/*
    Dashboard.scss
*/

@import "./../../../theme/variable/color";
@import "./../../../theme/variable/fontstyle";

.btn{
	outline: none;
	box-shadow: none;
	&:focus,
	&:hover{
		outline: none;
		box-shadow: none;		
	}
}

.cursorPointer{
	color: $primary-color;
}

.text-dark{
	color: $primary-color !important;
}

header.demoHead {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.dashboardCont {
  font-family: $font-secondary;
  letter-spacing: 0;
}
.padTop-0 {
  padding-top: 0;
}
.m-b-30 {
  margin-bottom: 30px;
}
.ml-5 {
  margin-left: 5px !important;
}

.brdBott {
  border-bottom: 1px solid #ebebeb;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-20 {
  padding: 20px;
  box-sizing: border-box;
}

.brdAround {
  border: 1px solid #ebebeb;
}

.txt-16 {
  font-size: 16px;
}

.txt-18 {
  font-size: 18px;
}

.position-relative{
  position: relative;
}



.tooltip {
  font-size: 12px; 
}

.dashboardCont {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 300;
  }
}

.dashboardCont p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: $primary-color;
}

.dashboardCont a,
.dashboardCont a:hover,
.dashboardCont a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.dashboardCont .navbar {
  height:55px;
  background: $dashboard-top-panel-bg;
  color: $dashboard-top-panel-color;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.dashboardCont .navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
/*
.dashboardCont .customArrowBut {
  border-radius: 50%;
  background: #12004a;
  height: 33px;
  width: 33px;
  position: absolute;
  left: -18px;
  top: 14px;
}*/
.dashboardCont .customArrowBut i {
  color: $primary-color;
}
.dashboardCont #sidebar.active + #content .customArrowBut i {
  transform: rotate(180deg);
}

.dashboardCont .titleTop {
  margin: 0;
  color: $primary-color;
  font-size: 25px;
  padding: 4px 0;
  font-weight: 300;
}

.dashboardCont .customArrowBut .glyphicon-align-justify {
  display: none;
}

.dashboardCont .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.dashboardCont i,
.dashboardCont > span {
  display: inline-block;
}

.homelefticon {
  width: 20px;
  max-width: 26px;
}

.errorMsg {
  font-size: 14px;
  color: #70ff06;
  text-align: left;
  display: block;
  position: absolute;
  left: 0;
  margin-top: 0px;
}
.arrow-14 {
  font-size: 14px !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.dashboardCont .wrapper {
  display: flex;
  align-items: stretch;
  background: #fbfbfb;
  overflow: hidden;
}

.dashboardCont #sidebar {
  min-width: 250px;
  max-width: 250px;
  background: $dashboard-sidebar-bg;
  //background: #2f353a;
  color: $dashboard-sidebar-color;
  transition: all 0.3s;
}

.dashboardCont #sidebar.active {
  min-width: 65px;
  max-width: 65px;
  text-align: center;
}
.dashboardCont #sidebar.active ul li a{
	padding-left: 0;
	padding-right: 0;
}

.dashboardCont #sidebar.active .sidebar-header h3,
.dashboardCont #sidebar.active .CTAs {
  display: none;
}

// .dashboardCont #sidebar.active .sidebar-header strong {
//   display: block;
// }

// .dashboardCont #sidebar.active .sidebar-header > img {
//   display: none;
// }

.dashboardCont #sidebar ul li a {
  text-align: left;
  i{
	  font-size: 20px;
	  color: $primary-color;
  }
}

.dashboardCont #sidebar.active ul li a {
  //padding: 34px 27px;
  text-align: center;
  font-size: 0.85em;
}

.dashboardCont #sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.dashboardCont #sidebar.active ul ul a {
  padding: 10px !important;
}

.dashboardCont #sidebar.active a[aria-expanded="false"]::before,
.dashboardCont #sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.dashboardCont #sidebar .sidebar-header {
  //padding: 4px 50px;
  height: 55px;
  background: $dashboard-sidebar-bg;
}
.dashboardCont #sidebar .sidebar-header .logoPan{
	margin: 10px 0 0 25px;
	display: inline-block;
	width: 110px;
}


.dashboardCont #sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

.dashboardCont #sidebar ul.components {
  padding: 0 0 20px;
  /* border-bottom: 1px solid #47748b; */
}

.dashboardCont #sidebar ul.components li {
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    li {
      font-size: 16px;
      a {
        padding: 15px 33px 15px 69px !important;
      }
    }
  }
}

.dashboardCont #sidebar ul li a {
  padding: 10px 30px;
  font-weight: 300;
  font-size: 15px;
  display: block;
  border-left: 3px solid transparent;
}

.dashboardCont #sidebar ul li a:hover {
  color: #fff;
  background: $dashboard-sidebar-nav-hover;
  border-left: 3px solid $primary-color;
}

.dashboardCont #sidebar ul li a img {
  position: absolute;
  left: 30px;
  top: 20px;
}

.dashboardCont #sidebar ul li a span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
}
.dashboardCont #sidebar ul li a i{
	position: relative;
	top: 3px;
}

.dashboardCont #sidebar ul li > a.active,
.dashboardCont #sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: $btn-color-primary;
  border-left: 3px solid $primary-color;
}

.dashboardCont a[data-toggle="collapse"] {
  position: relative;
}

.dashboardCont a[aria-expanded="false"]::before,
.dashboardCont a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}
.dashboardCont a[aria-expanded="true"]::before {
  content: "\e260";
}

.dashboardCont ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  //background: #46465f;
}

.dashboardCont ul.CTAs {
  padding: 20px;
}

.dashboardCont ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.dashboardCont a.download {
  background: #fff;
  color: #7386d5;
}

.dashboardCont a.article,
.dashboardCont a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/*User Admin Name Section*/

.dashboardCont .notiSec {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: 15px;
  margin-right: 40px;
  position: relative;
}
.dashboardCont .bellIcon {
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  display: block;
}

.dashboardCont .bellIcon:hover,
.dashboardCont .bellIcon:active,
.dashboardCont .bellIcon:focus {
  color: #fff;
}

.dashboardCont .bellIcon span {
  display: block;
}
.dashboardCont .dot {
  position: absolute;
  right: -9px;
  top: -16px;
  border-radius: 50% 50%;
  border: 1px solid #0076d9;
  height: 22px;
  width: 22px;
  z-index: 1;
  font-size: 13px;
  text-align: center;
}
.dashboardCont .userSec {
  display: inline-block;
  vertical-align: middle;
  //border-left: 1px solid #f1f1f1;
  padding-left: 15px;
  position: relative;
}

.userSecDropdown {
  position: absolute;
  top: 28px;
  right: 0px;
  min-width: 160px;
  background: $dashboard-sidebar-nav-hover;
  border: solid 1px $dashboard-sidebar-nav-hover;
  color: #fff;
  border-radius: 0;
  text-align: left;
  z-index: 9;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        display: block;
        padding: 5px 0 5px 30px;
        font-size: 14px;
        font-weight: 300;
        border-radius: 0;
      }
      a:hover {
		color: $orange;
      }
      span.glyphicon {
        padding-right: 5px;
      }
    }
  }
  .logoutIco {
    background: url(../../../assets/logout-top.png) no-repeat 10px 50%;
  }
  .profileIco {
    background: url(../../../assets/my-profile-ico.png) no-repeat 10px 50%;
    background-size: 14px;
  }
}

.userSecDropdown:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $dashboard-sidebar-nav-hover;
  position: absolute;
  top: -8px;
  right: 12px;
}
//End: userSecDropdown

//.dashboardCont .userIcon{ }
.dashboardCont .userIcon img {
  display: inline-block;
  vertical-align: middle;
}
.dashboardCont .userIcon i {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  margin-left: 10px;
}

/*Dropdown style*/
.dropDown {
  width: 275px;
  background: #fff;
  position: absolute;
  right: -28px;
  top: 40px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  z-index: 1000;
  display: none;
}

.dropDown h2 {
  background: #1c0761;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 0;
}

.dropDown::before {
  content: "\25B2";
  position: absolute;
  right: 30px;
  top: -13px;
  color: #1c0761;
}

.smtextDropdown {
  color: #67a7d7;
  font-size: 10px;
  text-transform: uppercase;
  float: right;
}

.dropDown a {
  display: block;
  padding: 12px 20px;
  font-size: 12px;
  color: #3f3f3f;
}
.dropDown a:hover {
  background: #f5f5f5;
}
.dropDown a:last-child:hover {
  background: #f5f5f5;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.dropDown a > img,
.dropDown a > span {
  display: inline-block;
  vertical-align: middle;
}
.dropDown a > span {
  width: 74%;
  margin-left: 10px;
}
.dropDown a > span span {
  display: block;
  line-height: 15px;
  color: #a2a2a2;
}

/*Dropdown style End*/

.dashboardCont .userSec h6 {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3e3e3e;
}
.dashboardCont .userSec span {
  font-size: 0.9em;
  color: #999;
}
.dashboardCont .redDot {
  background: #ff9f00;
}
.dashboardCont .greenDot {
  background: #056b02;
}

/*23-08-2018*/
.dashboardCont .navbar-header {
  float: left;
}

.dashboardCont .logoleft {
  //background-image: url(../../assets/logo-top-left.58373351.png);
  //background-position: 50% 95.9%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: 86%;
  position: relative;
}

.dashboardCont .logoleft h5 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.dashboardCont #sidebar.active .logoleft h5 {
  display: none;
}

.dashboardCont #sidebar.active .textLink {
  display: none;
}

.dashboardCont label {
  font-weight: 600;
  font-size: 15px;
  color: #747474;
  margin-bottom: 10px;
}
.dashboardCont .help-block {
  color: #ff1919;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.dashboardCont #content {
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
  background-color: $dashboard-inner-bg;
}

.dashboardCont .form-control {
  border: 1px solid $dashboard-sidebar-bg;
  background: $dashboard-inner-bg2;
  box-shadow: none;
  height: 38px;
  border-radius: 0;
  color: $primary-color;
}

.dashboardCont select:disabled,
.dashboardCont input:disabled {
  border: 1px solid #dddcdc;
  background: #f7f7f7;
  box-shadow: none;
  height: 38px;
}

.dashboardCont .form-control:focus {
  //border: 1px solid $dashboard-inner-bg;
  background: $dashboard-sidebar-bg;
}

.dashboardCont .react-date-picker__button {
  border: 1px solid transparent !important;
  background: #f7f7f7;
  box-shadow: none;
  height: 38px;
}
.dashboardCont .react-date-picker__button:focus {
  border: 1px solid #0076d9;
  background: #fff;
}

.react-date-picker {
  display: inherit !important;
}

.react-date-picker:after {
  clear: both;
  content: "";
  display: block;
}

.react-date-picker__calendar-button svg {
  display: none;
}
.react-date-picker__calendar-button {
  background-image: url(../../../assets/calenderIconInput.png) !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  width: 18px;
}
.react-date-picker__clear-button svg {
  display: none;
}
.react-date-picker__clear-button {
  background-image: url(../../../assets/crossDatepicker.png) !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  width: 18px;
  margin-right: 2px;
}
.react-calendar {
  width: 300px;
  border: 1px solid #f1f1f1;
  font-family: $font-secondary;
}

.dashboardCont select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
}
.dashboardCont select {
  background-image: url(../../../assets/arrowDownSelect.png) !important;
  background-repeat: no-repeat !important;
  background-position: 100% 50% !important;
}
.dashboardCont input {
  font-size: 13px;
}
.dashboardCont {
  button.btn {
    font-size: 13px;
  }
}

.searchMain {
  width: 45% !important;
  padding-right: 34px;
  height: 44px;
  background-color: #fff !important;
  font-size: 16px !important;
  background-image: url(../../../assets/searchIconMain.png) !important;
  background-position: 100% 50% !important;
  background-repeat: no-repeat !important;
}
.searchMain::placeholder {
  color: #c2c2c2;
}
.selectMain {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1) !important;
  color: #c2c2c2 !important;
  font-weight: 400;
  font-size: 16px !important;
}

.dashboardCont .btn:focus,
.dashboardCont .btn:active:focus,
.dashboardCont .btn.active:focus,
.dashboardCont .btn.focus,
.dashboardCont .btn:active.focus,
.dashboardCont .btn.active.focus {
  outline: none;
  outline-offset: 0;
}
.dashboardCont .btn:active,
.dashboardCont.btn.active {
  box-shadow: none;
}

.borderBottom {
  border-bottom: 1px solid #f1f1f1;
  margin: 20px -35px;
}
.bottomTable span {
  font-size: 15px;
  font-weight: 600;
}
.bottomTable th {
  font-size: 17px;
}
.textareaSm {
  height: 100px !important;
}
.labelTitle {
  margin-bottom: 10px;
  display: block;
}

.m-b-10 {
  margin-bottom: 10px;
}
.m-l-8 {
  margin-left: 8px;
}
.m-l-20 {
  margin-left: 20px;
}
.pt-15-plr {
  padding: 15px 0 !important;
}

.lrgIcon {
  font-size: 17px;
  margin-left: 10px;
}

.butt-lightBlue {
  background: #e4e9f7;
  border: none;
  color: #0076d9 !important;
  font-size: 15px;
  height: 44px;
}
.butt-lightBlue:hover {
  background: #d7e0f8;
}

.boxBg {
  font-weight: 300;
  //background-color: $dashboard-tab-content-bg;
  color: $primary-color;
  border: 1px solid $dashboard-sidebar-bg;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.p-35 {
  padding: 35px;
}


.table{
	margin-bottom: 0;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid $dashboard-sidebar-bg;
  padding: 14px 10px;
  font-size: 15px;
  color: $primary-color;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: none;
  background: $dashboard-sidebar-bg;
}
.table-hover > tbody > tr:hover {
  background: $dashboard-sidebar-nav-hover;
}
.table-hover > tbody > tr:hover .smIconBg {
  background: #cbe5f8;
}
.table tr td i{
	margin-left:5px;
	margin-right:5px;
	font-size: 16px;
}
.table tr td p:last-child{
	margin-bottom: 0;
}

.showHideItem a:first-child .smIconBg {
  margin-right: 8px;
}
.table-responsive {
  // border: 1px solid rgb(218, 218, 219);
  // border-top: 0px solid rgb(218, 218, 219);
}
/* The container */
.customCkBox {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.customCkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: none;
  border: 1px solid #cacaca;
}
/* On mouse-over, add a grey background color */
.customCkBox:hover input ~ .checkmark {
  background-color: none;
  border: 1px solid #cacaca;
}

/* When the checkbox is checked, add a blue background */
.customCkBox input:checked ~ .checkmark {
  background-color: #67a7d7;
  border: 1px solid transparent;
}
.customCkBox.customCkBox2 input:checked ~ .checkmark {
  background-color: #007bff !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customCkBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customCkBox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.smIconBg {
  border-radius: 50%;
  background: #f0f0f0;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  box-shadow: none;
  text-shadow: none;
  border: none;
}

.btn-primary {
  background: $btn-color-primary;
}
.btn-primary:hover {
  opacity: 0.7;
}

.btn-primary-cust {
  background: #53a1f9;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-primary-cust:hover,
.btn-primary-cust:focus,
.btn-primary-cust:active,
.btn-primary-cust:active:hover {
  background: #4796ef;
}

.dashboardCont {
  .btn-primary {
    font-size: 15px !important;
    text-shadow: none;
    height: 36px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding: 7px 15px;
    font-weight: 300 !important;
  }
}

.btn {
  font-size: 15px !important;
    text-shadow: none;
    height: 36px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding: 7px 15px;
    font-weight: 300 !important;
}

.but-green {
  background: #9cd25a;
  color: #fff !important;
}
.but-green:hover,
.but-green:focus {
  background: #89bd49;
}

.but-orange {
  background: #ff9f00;
  color: #fff !important;
}
.but-orange:hover,
.but-orange:focus {
  background: #e96c49;
}

.but-gray {
  background: #233d65 !important;
  color: #fff !important;
  border: 1px solid transparent !important;
}
.but-gray:hover,
.but-gray:focus {
  background: #3962a0 !important;
}

.butt3 {
  color: #f97753 !important;
  font-size: 16px !important;
  background-image: none !important;
  font-weight: 400 !important;
  background-color: transparent !important;
}
.butt3 span {
  position: relative;
  top: -3px;
}
.butt3:hover {
  color: #ec643f !important;
}
.butt3 i {
  font-size: 18px;
  margin-right: 5px;
}

.nav-pills > li > a {
  border-radius: 20px;
}

.dollerInput {
  background-image: url(../../../assets/dollerIcon.png) !important;
  background-repeat: no-repeat !important;
  background-position: 0 50% !important;
  padding-left: 45px;
  box-sizing: border-box;
}

.createInvoice .has-feedback .form-control {
  padding-right: 5px;
}

.table-responsive .table-hover > tbody > tr .showHideItem {
  //display: none;
  visibility: hidden;
  //float: left;
  //margin: 0 8px;
}
.table-responsive .table-hover > tbody > tr:hover .showHideItem {
  //display: block;
  visibility: visible;
}

.modalDenied {
  .modal-dialog {
    max-width: 460px;
  }

  .addUserPop {
    background-image: url(../../../assets/access-denied-icon.png) !important;
    background-repeat: no-repeat;
    padding: 0 0 0 94px;
    margin-bottom: 24px;
    min-height: 70px;

    h4 {
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}

.dashboardCont .navbar .userSec h5 {
  color: $primary-color;
  font-size: 16px;
  padding: 20px 0;
  display: inline;
}

.dashboardCont .paginationOuter {
  padding: 0;
}

.dashboardCont .adminAddUser td,
.dashboardCont .customerlistSec td {
  position: relative;
}

.dashboardCont .adminAddUser .showHideItem,
.dashboardCont .customerlistSec .showHideItem {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dashboardInner {
  padding: 25px;
}

.modal-dialog .cityField,
.dashboardCont .cityField {
  position: relative;

  ul.autoList {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    overflow-y: scroll;
    left: 0;
    z-index: 9;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    font-size: 14px;
  }
  ul.autoList li {
    list-style: none;
    text-align: left;
    cursor: pointer;
    padding: 1px 9px;
  }
  ul.autoList li:hover {
    background-color: #f3f1f1;
  }
}
/*------End: cityField-------*/

.fundingAccount {
  .faDetailsSec {
    padding: 20px;
    border: 1px solid #f2efef;
    background-color: #fff;
    margin-bottom: 20px;

    .faDetailsLeft {
      h5 {
        font-size: 16px;
      }
      h4 {
        font-size: 30px;
        color: #89bd49;
      }
    }

    .faDetailsright {
      float: right;
      h5 {
        font-size: 16px;
      }
      h4 {
        font-size: 14px;
        min-width: 128px;
      }
      .bankLogo {
        margin-bottom: 10px;
        position: relative;
        max-width: 220px;
        -moz-box-shadow: -1px 1px 4px #ecefec;
        -webkit-box-shadow: -1px 1px 4px #ecefec;
        box-shadow: -1px 1px 4px #ecefec;
        border: 1px solid #ecefec;

        .btn-toolbar {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          z-index: 2;

          .dropdown-menu {
            height: 95px;
            overflow-y: scroll;
            padding: 0;
          }

          .dropdown-toggle.btn.btn-xs.btn-default .caret {
            border: none;
            border-color: none;
          }
          .dropdown-toggle.btn.btn-xs.btn-default {
            background-repeat: no-repeat;
            width: 19px;
            height: 14px;
            border: 0;
            border-radius: 0;
          }
          .dropdown-toggle.btn.btn-xs.btn-default:hover,
          .dropdown-toggle.btn.btn-xs.btn-default:focus {
            background-position: 0;

            background-repeat: no-repeat;
            background-color: #fff;
            box-shadow: none;
          }
          .dropdown.open.btn-group.btn-group-xs.btn-group-default {
            background-position: 0;

            background-repeat: no-repeat;
            background-color: #fff;
          }
        }
      }
      .bankStatus {
        margin-bottom: 5px;

        .activebank {
          background-color: #9cd25a;
          color: #fff;
          font-size: 11px;
          display: block;
          padding: 2px;
          text-align: center;
          width: 70px;
        }
      }
    }
  }

  .faDetailsSec:after {
    content: "";
    clear: both;
    display: block;
  }

  .faSearchPanel {
    margin-bottom: 20px;

    h4 {
      display: inline;
      font-size: 18px;
      margin-right: 10px;
    }
    .selectBox {
      display: inline;
      margin-left: 5px;
      max-width: 120px;
    }
    .searchBox {
      width: 45% !important;
      height: 40px;
      background-color: #fff !important;
      font-size: 16px !important;

      background-position: 100% 50% !important;
      background-repeat: no-repeat !important;
      margin-right: 5px;
    }

    .faLinks {
      margin-top: 12px;
      text-align: right;
      float: left;
      a {
        margin-right: 10px;
        color: #337ab7;
      }
      a:hover {
        color: #103758;
      }
    }
  }
}

.fundAdvSearch {
  float: left;
  width: 80%;
}

/*-----End: fundingAccount---------*/

.enterPayInfoPop {
  .btn-center .btn {
    float: none !important;
  }
  .errorMsg {
    left: inherit;
  }
}

.btn-inline .btn {
  float: none !important;
}

.allApOuter {
  .table-hover > tbody > tr .btn-toolbar {
    display: none;
  }
  .table-hover > tbody > tr:hover .btn-toolbar {
    display: block;
  }
  .boxBg {
    padding: 15px 0;
  }
  table tr th:first-child,
  table tr td:first-child {
    padding-left: 28px;
  }
  .duplicateEntryIcon {
    // background-image: url(../../assets/duplicate-icon.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    // position: relative;
    // left: -5px;
  }
}

.statusInfo {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.statusInfo.sent {
  color: $sent;
}

.statusInfo.draft,
.statusInfo.review {
  color: $reviewed;
}
.due,
.statusInfo.due {
  color: $due;
}
.statusInfo.cancel {
  color: #f01010;
}
.statusInfo.warning {
  color: $warning;
}
.statusRblock.reviewed,
.statusInfo.reviewed {
  color: $reviewed;
}
.statusRblock.uploaded,
.statusInfo.uploaded {
  color: $uploaded;
}
.statusRblock.paid,
.statusInfo.paid {
  color: $paid;
}
.statusRblock.approve,
.statusInfo.approve,
.statusInfo.approved {
  color: $approved;
}
.statusRblock.submit,
.statusInfo.submit {
  color: $submited;
}
.statusRblock.voided,
.statusInfo.voided {
  color: $void;
}
.statusRblock.unopened,
.statusInfo.unopened {
  color: $unopened;
}

.dropdownShowHide {
  .dropdown-toggle.btn.btn-xs.btn-primary {
    border: none;
    border-color: none;
    background: none;
  }
  .dropdown-toggle.btn.btn-xs.btn-primary {
    background-image: url(../../../assets/hamburgMenu.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 14px;
    border: 0;
    border-radius: 0;
  }
  .dropdown-toggle.btn.btn-xs.btn-primary:hover,
  .dropdown-toggle.btn.btn-xs.btn-primary:focus {
    background-position: 0;
    background-image: url(../../../assets/hamburgMenu.png);
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }
  .dropdown.open.btn-group.btn-group-xs.btn-group-primary {
    background-position: 0;
    background-image: url(../../../assets/hamburgMenu.png);
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .dropdown-menu a.dropdown-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
  .dropdown-menu > a.dropdown-item:focus,
  .dropdown-menu > a.dropdown-item:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(180deg, #f5f5f5 0, #e8e8e8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5f5f5",endColorstr="#ffe8e8e8",GradientType=0);
    background-repeat: repeat-x;
  }
}
// end: dropdownShowHide

.VendorOuter .table-hover > tbody > tr .btn-toolbar {
  display: none;
}
.VendorOuter .table-hover > tbody > tr:hover .btn-toolbar {
  display: block;
}

.boxBg .theaderBg th {
  font-size: 16px;
  font-weight: bold;
}

.boxBg .table-hover td,
.boxBg .table-hover th {
  max-width: 200px;
  word-wrap: break-word;
}

.boxBg .table > tbody > tr > td,
.table > tfoot > tr > td {
  font-size: 15px;
  font-weight: 300;
}

.boxBg .table-responsive .btn-group {
  top: 8px;
}

.accRecInvoices {
  .accRecSerOuter,
  .mainTabAccPay {
    display: none;
  }
}

.mainTab {
  .companyProfTab {
    margin-bottom: 30px;
    margin-top: -15px;

    .nav {
      padding-left: 0;
    }
    ul.nav-tabs li a.active,
    ul.nav-tabs li a {
      background: none;
    }
    .nav > li > a {
      border-bottom: transparent;
    }

    .nav-tabs {
      background: none;
      border-bottom: transparent;
      height: 58px;
    }
  }
}

.companyProfInner {
  .companyLogo {
    margin-bottom: 20px;
    position: relative;

    img {
      margin: 0 auto 20px;
      display: block;
    }

    button {
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .companyLogo:hover {
    button {
      display: inline-block;
    }
  }
  .companyLogo:after {
    content: "";
    clear: both;
    display: block;
  }
}

.sucess {
  font-size: 14px;
  color: #056b02;
}
/*-----------*/

.bankAccInfo {
  width: 24.5%;
  display: inline-block;
  margin-bottom: 40px;
  text-align: center;
  img {
    margin-bottom: 8px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 14px;
    span {
      font-weight: bold;
    }
  }
}

.hideCheckBox .customCkBox {
  display: none;
}

.dropFileAch {
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}

.topSearchInvoice h4 {
  display: inline;
  font-size: 18px;
  margin-right: 10px;
}
.dropdown-menu {
  padding: 0;
}

.csvUploadMsg {
  width: 80%;
  max-height: 150px;
  overflow-y: scroll;
  text-align: left;
  margin: 0 auto;
  border: 1px solid #f7f7f6;
  ul {
    margin: 0;
    padding: 10px;
    li {
      text-align: left;
      color: #e93467;
      padding: 5px;
      list-style: none;
    }
  }
}

.uploadMsg {
  text-align: center;
  padding: 10px;
  margin: 10px auto;
}

.nav-tabs {
  border-bottom: 2px solid #dee2e6 !important;
  li a.disable {
    color: #a0a0a0 !important;
    cursor: not-allowed;
  }
}

.companyLogoVisible {
  border: 1px solid #f3f3f3;
  padding: 40px 0 20px;
  img {
    max-width: 150px;
    height: auto;
  }
}

.has-feedback input.form-control {
  padding-right: 10px !important;
}

td,
th {
  .table {
    margin-bottom: 0;
  }
}
.table-hover > tbody > tr:hover .table {
  background: #f5fafe;
  color: #7da5c3;
}

.table-hover > tbody > tr .table td {
  padding: 5px 5px;
}

.table-hover > tbody > tr .table tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.transactionSearch {
  .searchMain {
    width: 245px !important;
  }
  select {
    min-width: 92px;
  }
}

.fundingDebitInsideSec {
  padding: 0 !important;
  background-color: #fcfbfb;

  min-width: 300px;
  max-width: 300px;

  .table-hover tr:nth-of-type(odd) {
    background-color: #fcfbfb !important;
    border-bottom: 1px solid #f5f2f2;
  }
  .table-hover tr:last-child {
    border-bottom: none;
  }
  td.fndInvId {
    padding-left: 10px !important;
  }
} // END: fundingDebitInsideSec

.fndInvId {
  width: 80px !important;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  li {
    display: inline;
    a,
    span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: $primary-color;
      text-decoration: none;
      background: $dashboard-inner-bg2;
      border: 1px solid $dashboard-sidebar-bg;
    }
  }
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  //background-color: $dashboard-sidebar-bg;
  //border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  //color: #fff;
  cursor: default;
  background: $btn-color-primary;
}

.customArrowBut svg,
.userIcon svg {
  color: $primary-color;
  margin-bottom: 6px;
}
.dashboardCont #sidebar.active + #content .customArrowBut svg {
  transform: rotate(180deg);
}

.shrinkExpand {
  background-color: $dashboard-inner-bg2;
  padding: 7px;
  position: relative;
  margin-top: 1px;
}
.shrinkExpandMobile{
	position: absolute;
	top: 10px;
	left: 0;
	display: none;
	.btn{
		width: 50px;
	}
}

.dashboardCont a,
.dashboardCont a:hover,
.dashboardCont a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.customArrowBut span {
  color: $primary-color;
  font-size: 1.1em;
  font-weight: 300;
  padding-left: 10px;
  transition-duration: 4s;
  margin: 15px 0;
  svg {
    color: $primary-color;
    margin-bottom: 0px;
  }
}

.dashboardCont #sidebar.expandSidebar {
  .customArrowBut {
    //background-color: #172a49;
    padding-left: 10px;
    width: 100%;
    text-align: left;
  }
  .expandIcon {
    display: none;
  }
  .fullLogo{
	  display: block;
  }
  .smallLogo{
	  display: none;
  }
}

.dashboardCont #sidebar.active {
  .logoleft .customArrowBut i {
    transform: rotate(180deg);
    display: none;
  }
  .customArrowBut span {
    display: none;
  }
  .treeView {
    .textLink {
      display: none!important;
    }
  }
  .treeViewMenu {
    li {
      svg {
        display: block;
        margin: 0 auto;
      }
      a {
        padding: 10px 0 !important;
      }
    }
  }
  .fullLogo{
	  display: none;
  }
  .smallLogo{
	  display: block;
  }
  .logoPan{
	  width: 30px;
	  margin:14px 0 0 5px;
  }
}

.dashboardCont .customArrowBut .glyphicon-align-justify {
  display: none;
}

.dashboardCont .customArrowBut {
  //border-radius: 50% !important;
  //background: #101f38;
  height: 36px;
  width: 35px;
}
.dashboardCont .customArrowBut img {
  max-width: 20px;
  margin-left: -8px;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

input.react-date-picker__button__input__input.react-date-picker__button__input__year {
  min-width: 35.3438px;
  text-align: center;
}

input.react-date-picker__button__input__input.react-date-picker__button__input__day,
input.react-date-picker__button__input__input.react-date-picker__button__input__month {
  min-width: 19.6719px;
  text-align: center;
}
.complete {
  font-weight: 500;
  font-size: small;
  text-transform: capitalize;
}

.cusTabControl {
  background-color: #fff;
  border: none;
}

.nav-tabs.cusTabControl .nav-link.active,
.nav-tabs.cusTabControl .nav-item.show .nav-link {
  border: none;
  border-bottom: 3px solid #ff1675;
}
.nav-tabs.cusTabControl .nav-item.show .nav-link {
  font-size: 16px;
}
.nav-tabs.cusTabControl {
  .tab-content {
    background-color: #fff;
  }
}
.nav-tabs.subTab {
  // background-color: #fff;
  // border-top:1px solid #dee2e6;
  .nav-link.active {
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #0076d9;
  }
}



.selectPaymentDateCustom {
  border: 1px solid #ccc;
  padding-right: 5px;
  button.react-date-picker__clear-button.react-date-picker__button__icon {
    display: none;
  }
}

input.form-control-vc.mt-2 {
  position: relative;
  top: 3px;
}
span.vcHintText {
  padding-left: 5px;
}

.accountOuter .prodUsageOuter {
  padding: 0 !important;
}
.subTab.subTabBg {
  background-color: #fbf9f9cc !important;
}

.usageEditModal {
  td {
    position: relative;
  }
}

.boxBg .theaderBg th {
  font-size: 16px;
  font-weight: 400;
}

.table-bordered,
.table {
  color: #484848;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  //border-top: 1px solid #f5f5f5 !important;
  padding: 12px 10px;
  font-size: 15px;
}

.modal-footer,
.modal-header {
  border: 0 !important;
  text-align: center;
  padding: 15px;
}

.modal-title {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
.modal-header .close {
  position: relative;
  right: 20px;
  top: 12px;
}

.uploadPop {
  .modal-dialog {
    min-width: 600px;
  }
}

.payOptionPop {
  .modal-dialog {
    min-width: 600px;
  }
  .modal-footer,
  .modal-header {
    border: none;
  }

  .modal-body {
    h4 {
      font-weight: 600;
    }

    h5 {
      font-size: 18px;
      font-weight: 300;
    }

    img {
      margin-bottom: 25px;
    }
    p {
      font-family: $font-secondary;
    }
  }

  .payOptBtn {
    button {
      float: none;
    }
  }
}

.futurePay {
  color: #00399d;
  font-size: 11px;
  display: block;
}
.futurePayDate {
  display: block;
}
.cursorPointer {
  cursor: pointer;
}

.mainMenuTab {
  .nav-link {
    border: 0;
    border-bottom: 2px solid #dee2e6;
  }
  a {
    outline: none;
    border: 0;
    border-bottom: 3px solid transparent !important;
    font-size: 17px;
    color: #a6a6a6;
    padding: 1rem 0;
    display: block;
    border: none;
    margin-right: 50px;
  }
  a.active {
    border-bottom: 3px solid #ff1675 !important;
  }
}

.bnPosion {
  position: relative;
  top: 9px;
}

// /* Customize the label (the radioStyleCustom) */
// 	.radioStyleCustom {
// 	  display: block;
// 	  position: relative;
// 	  padding-left: 35px;
// 	  margin-bottom: 12px;
// 	  cursor: pointer;
// 	  font-size: 22px;
// 	  -webkit-user-select: none;
// 	  -moz-user-select: none;
// 	  -ms-user-select: none;
// 	  user-select: none;
// 	}

// 	/* Hide the browser's default radio button */
// 	.radioStyleCustom input {
// 	  position: absolute;
// 	  opacity: 0;
// 	  cursor: pointer;
// 	  height: 0;
// 	  width: 0;
// 	}

// 	/* Create a custom radio button */
// 	.checkmark {
// 	  position: absolute;
// 	  top: 0;
// 	  left: 0;
// 	  height: 25px;
// 	  width: 25px;
// 	  background-color: #eee;
// 	  border-radius: 50%;
// 	}

// 	/* On mouse-over, add a grey background color */
// 	.radioStyleCustom:hover input ~ .checkmark {
// 	  background-color: #ccc;
// 	}

// 	/* When the radio button is checked, add a blue background */
// 	.radioStyleCustom input:checked ~ .checkmark {
// 	  background-color: #2196F3;
// 	}

// 	/* Create the indicator (the dot/circle - hidden when not checked) */
// 	.checkmark:after {
// 	  content: "";
// 	  position: absolute;
// 	  display: none;
// 	}

// 	/* Show the indicator (dot/circle) when checked */
// 	.radioStyleCustom input:checked ~ .checkmark:after {
// 	  display: block;
// 	}

// 	/* Style the indicator (dot/circle) */
// 	.radioStyleCustom .checkmark:after {
// 	  top: 9px;
// 	  left: 9px;
// 	  width: 8px;
// 	  height: 8px;
// 	  border-radius: 50%;
// 	  background: white;
// 	}



li.treeView.transaction{
  a.active + .treeViewMenu{
    display: block;
  }
  a + .treeViewMenu{
    display: none;
  }
}

strong {
font-weight: bold;
}


.searchBox{
	border: solid 1px $dashboard-sidebar-bg;
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
	.form-control{
		option{
			padding: 2px;
		}
		&::placeholder{
			color: $primary-color;
			opacity: 1;
		}
	}
}







/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1440px) {
  .boxBg .theaderBg th {
    font-size: 14px;
    span:first-child {
      margin-top: 4px;
    }
  }

  .boxBg .table > tbody > tr > td {
    font-size: 14px;
  }
  // .custom-btn-focus {
  //   svg {
  //     vertical-align: top;
  //   }
  // }
} /*=======END: screen 1440px=======*/

@media (max-width: 1370px) {
  // code goes here iPadpro and desktop with low width
}

@media (min-width: 1360px) {
  // code goes here atleast ipadpro
  .boxBg .table-hover td:first-child,
  .boxBg .table-hover th:first-child {
    min-width: 20px;
  }
  // code goes here atleast ipadpro
  .boxBg .table-hover td:first-child,
  .boxBg .table-hover th:first-child {
    min-width: 20px;
  }
}

@media (max-width: 1281px) {
  // .searchMain {
  //   width: 53% !important;
  // }
}

@media (max-width: 1024px) {
  .searchMain {
    width: 50% !important;
  }

  .createInvoice .theaderBg th {
    font-size: 15px;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    font-size: 14px;
  }

  .topSearchInvoice {
    margin-bottom: 20px;
  }

  /*------shrinkCon appear when sidebar active-------*/
  .shrinkCon {
    .searchMain {
      width: 44% !important;
    }
    .advSearchBtn {
      padding: 8px;
    }
    .btnInvoiceTop {
      .btn-default {
        padding: 7px 6px;
      }
    }

    .fundingAccount .faSearchPanel h4 {
      display: block;
    }

    .accRecSerOuter .btn-default {
      font-size: 14px;
      padding: 7px 8px;
    }
  }
  /*------End:shrinkCon appear when sidebar active-------*/




  .dashboardCont #sidebar ul li a {
    font-size: 1.2em;
  }
  .dashboardCont .customerlistSec .showHideItem {
    position: static;
    transform: inherit;
  }
  .mainTabAccPay .nav > li {
    margin-right: 25px;
  }

  .allApOuter .boxBg,
  .fundingAccount .boxBg.p-35 {
    padding: 5px;
  }
} /*=======END: screen 1281px=======*/

@media (max-width: 812px) {
  .dashboardCont .customArrowBut {
    left: 10px;
    margin-top: 4px;
    font-size: 24px;
  }
  .dashboardCont #sidebar + #content .customArrowBut i {
    transform: rotate(180deg);
  }
  .dashboardCont #sidebar.active + #content .customArrowBut i {
    transform: rotate(0deg);
  }

  .dashboardCont #sidebar {
    min-width: 96px;
    max-width: 96px;
    text-align: center;
    margin-left: -96px !important ;
    overflow: hidden;
  }
  .dashboardCont a[aria-expanded="false"]::before,
  .dashboardCont a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .dashboardCont #sidebar.active {
    margin-left: 0 !important;
  }

  .dashboardCont #sidebar .sidebar-header h3,
  .dashboardCont #sidebar .CTAs {
    display: none;
  }

  .dashboardCont #sidebar .sidebar-header strong {
    display: block;
  }

  .dashboardCont #sidebar ul li a {
    padding: 20px 10px;
  }

  .dashboardCont #sidebar ul li a span {
    font-size: 0.85em;
  }
  .dashboardCont #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  .dashboardCont #sidebar ul ul a {
    padding: 10px !important;
  }

  .dashboardCont #sidebar ul li a i {
    font-size: 1.3em;
  }
  .dashboardCont #sidebar {
    margin-left: 0;
  }
  .dashboardCont #sidebarCollapse span {
    display: none;
  }

  .dashboardCont .customArrowBut {
    background: none;
    margin-left: 0;
    left: 10px;
    padding-left: 0;
  }
  .dashboardCont .customArrowBut .glyphicon-align-justify {
    display: block;
  }
  .dashboardCont .customArrowBut .glyphicon-menu-left {
    display: none;
  }
  .dashboardCont .titleTop {
    margin: 0 0 0 35px;
  }

  .expandCon {
    .advSearchBtn {
      white-space: normal;
      padding: 0 10px;
    }

    // .btn-default {
    //   padding: 7px 4px;
    // }
  }

  .createInvoice,
  .paymentAchBodySec,
  .dashboardInner {
    padding: 16px;
  }
  .fundingAccount .faDetailsSec .faDetailsLeft h4 {
    font-size: 27px;
  }
} /*=======END: screen 812px=======*/

@media (max-width: 767px) {
  .dashboardCont #sidebar .sidebar-header {
    padding: 20px 5px;
  }
  .srhFilter .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .srhFilter .searchExistUser {
    width: 210px;
  }

  .topSearchInvoice {
    .searchMain {
      width: 63% !important;
    }
    .form-inline .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-inline .form-control {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .fundingAccount {
    .faDetailsSec .faDetailsright {
      float: none;
      padding-top: 20px;

      .bankLogo {
        max-width: 200px;
      }
    }

    .faSearchPanel {
      .searchBox {
        width: 100% !important;
        max-width: 100%;
        margin-bottom: 10px;
      }
      .selectBox {
        margin-left: 0;
        max-width: 100%;
      }
    }
  }
  /*---------End: fundingAccount---------------*/

  .mainTabAccPay {
    .nav > li {
      margin-right: 10px;
    }
    .nav > li > a {
      padding: 4px 0 5px;
      font-size: 15px;
    }
  }
  /*---End: mainTabAccPay-------*/

  .boxBg .theaderBg th {
    font-size: 15px;
  }
  .tabContentSec {
    padding: 20px;
  }
  .mainTab .companyProfTab {
    margin-bottom: 0;
  }

  h4.modal-title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .bankAccInfo {
    width: 32.33%;
  }

  .bigField {
    max-width: 150px !important;
    min-width: 150px;
    white-space: normal !important;
  }

  .dashboardCont #content {
    overflow: hidden;
  }

  .searchBox{
	.col,
	[class*="col-"]{
		margin-bottom: 10px;
	}
  }
} /*=======END: screen 767px=======*/

@media screen and (max-width: 479px) {
  .srhFilter .searchExistUser {
    width: 180px;
  }

  .dashboardCont .userIcon img {
    display: none;
  }
  .dashboardCont .notiSec {
    margin-right: 0;
  }
  .dashboardCont .bellIcon {
    margin-left: 10px;
    font-size: 16px;
  }
  .dashboardCont .dot {
    right: -5px;
    top: -12px;
    height: 18px;
    width: 18px;
    font-size: 10px;
  }
  .dashboardCont .userSec {
    padding-left: 5px;
  }
  .dashboardCont .customArrowBut {
    left: 10px;
  }

  .p-35 {
    padding: 10px;
  }

  .shrinkCon,
  .accRecSerOuter {
    .btn-default {
      padding: 7px 5px;
      margin-bottom: 5px;
    }
  }

  .topSearchInvoice {
    .advSrh {
      display: block !important;
    }
    .advSearchBtn {
      margin-top: 5px;
    }
  }

  .mainTab .companyProfTab {
    margin-top: 0;

    ul.nav-tabs li {
      margin-right: 4px;
    }

    ul.nav-tabs li a {
      width: auto;
    }
  }
  // end: mainTab .companyProfTab

  h4.modal-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
} /*=======END: screen 479px=======*/

@media screen and (max-width: 411px) {
  .dashboardCont .titleTop {
    font-size: 18px;
  }
  .dashboardCont .navbar .userSec h5 {
    font-size: 16px;
  }
  .expandCon .mainTab {
    .nav-tabs {
      height: auto !important;
    }
  }
  .bankAccInfo {
    width: 50%;
  }
} /*=======END: screen 411px=======*/

@media screen and (max-width: 360px) {
  .mainTab {
    .nav-tabs {
      height: auto !important;
    }
  }
  .mainTab .companyProfTab ul.nav-tabs li a {
    width: 90px;
  }
  .dashboardCont .titleTop {
    font-size: 16px;
  }
  .dashboardCont .navbar .userSec h5 {
    font-size: 15px;
  }
} /*=======END: screen 360px=======*/

/**/
.cursorPointer{
	cursor: pointer;
}

.google-places-autocomplete{
	position: relative;
	.locationDrop{
		position: absolute;
		top: 44px;
		left: 0;
		width: 100%;
		background-color: #272c33;
		border: solid 1px #3f4144;
		color: #ffffff;
		padding: 10px;
		z-index: 99;
	}
	.loadingSpinner{
		position: absolute;
		top: 0px !important;
		right: 8px !important;
		left: auto !important;
		transform: none !important;
		opacity: 10 !important;
		width: 23px;
		z-index: 99;
	}
}