
.slick-dots{
	li{
		button{
			&:before{
				font-size: 12px !important;
			}
		}
	}
}

.gemsDetailsContentPan{
	padding-top: 20px;
	padding-bottom: 30px;
	.addressPan{
		i{
			float: left;
			margin-right: 10px;
			margin-top: 3px;
			font-size: 16px;
		}
		p{
			float: left;
			overflow: hidden;
		}
		label{
			margin: 10px;
			display: block;
		}
	}
	.gemsDetailSlider{
		position: relative;
		height: 50%;
		.slick-slide{
			text-align: center;
			img{
				margin: 0 auto;
				max-height: 500px;
			}
		}
		.slick-arrow{
			position: absolute;
			top:50%;
			transform: translateY(-80%);
			z-index: 99;
			background: rgba(255, 255, 255, 10);
			width: 30px;
			height: 29px;
			border-radius: 50%;
			line-height: 55px;
			&:before{
				color: #000;
				font-size: 25px;
			}
			&.slick-prev{
				left: 0;
			}
			&.slick-next{
				right: 0;
			}
		}
    }
    
    h3 {
        font-size: 38px;
        line-height: 42px;
        font-family: "Poppins", sans-serif;
    }
}

.starPan{
	margin-bottom: 25px;
	i{
		font-size: 22px;
		//color: $txtColor2;
		margin: 0 2px;
		&.active{
			//color: $yellow;
		}
	}
	span{
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
	}
}

.categoryBlock{
	display: inline-block;
	background-color: #13131d;
	border-radius: 5px;
	color:white;
	font-weight: bold;
	margin: 3px;
	padding: 5px;
}

